<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components addition</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Add Components</h1>
    <form method="POST">
      <div class="form__fieldset">
        <label for="Component" class="form__label">Component:</label>
        <input type="text" name="compn" id="compn" class="form__input" />
      </div>

      <h1>Planned Released Date</h1>
      <form method="POST">
        <div class="form__fieldset">
          <label for="Component" class="form__label">Planned Release Date:</label>
          <input type="date" name="pdate" id="pdate" class="form__input" />
        </div>
      <!-- <div class="form__fieldset">
         <label for="date" class="form__label">BCIN Date:</label>
         <input type="date" name="bdate" id="bdate" class="form__input" />
       </div> -->




      <div class="form__fieldset">
        <input
          class="form__submit form__input"
          type="submit"
          value="Add Component"
        />
      </div>
    </form>
  </body>
</html>